<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- For security, I do not check-in my Akismet key.
      To make this work, add a file in the bin/debug folder named appSettings.config with the following conent
  
  <appSettings>
      <add key="apiKey" value="myPrivateAkismetApiKey"/>
  </appSettings>
  -->
  <appSettings configSource="appSettings.config" />
</configuration>